/*
Nina Marie Smilek
nsmilek1@umbc.edu
*/

package com.company;

public class Lab0_Smilek {

        public static void main(String[] args) {

                System.out.println("My name is Nina Marie Smilek");
                System.out.println("My email is nsmilek1@umbc.edu");
                System.out.println("My major is Information Systems");
        }
}
