/*
Nina Marie Smilek
nsmilek1@umbc.edu
Lab 2 Part 1 -- Switch
*/

import java.util.Scanner;
package com.company;

public class main {

        public static void main(String[] args) {
                Scanner scan = new Scanner (System.in);
                        System.out.print ("Please enter a number of the month between 1 to 12: ");
                          int month = scan.nextInt ();
                
switch(month) {
case"1":
System.out.println ("January");
break;
case"2":
System.out.println ("Feburary");
break;
case"3":
System.out.println ("March");
break;
case"4":
System.out.println ("April");
break;
case"5":
System.out.println ("May");
break;
case"6":
System.out.println ("June");
break;
case"7":
System.out.println ("July");
break;
case"8":
System.out.println ("August");
break;
case"9":
System.out.println ("September");
break;
case"10":
System.out.println ("October");
break;
case"11":
System.out.println ("November");
break;
case"12":
System.out.println ("December");
break;
System.out.println ("Invailed input, please try again");
}
        }
}
